// .About {

// }
// .Contact {

// }
// .FAQ {

// }
// .Home {

// }
.Products {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 100%;
  .aside {
    grid-column: 1 / 2;
    .SearchPanel {
      display: grid;
    }
  }
  .Container {
    grid-column: 2 / 3;
    display: grid;
  }
}
