//Layout:
.App {
  text-align: center;
  display: grid;
  grid-template-rows: 7vh 1fr 5vh;
  min-height: 100vh;
  width: 100%;
  .navbar {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    overflow: hidden;
    .navigation {
      display: block;
      justify-items: left;
    }
    .loging {
      margin: 0 0 0 auto;
    }
  }
  .page {
    grid-row: 2 / 3;
    background-color: darkgray;
  }
  .footer {
    grid-row: 3 / 4;
    background-color: darkgray;
    background-color: gray;
    height: 100%;
    table {
      width: 80vw;
    }
  }
}
// Bootstraps breakpoints:
// Extra small devices Phones <768px
// Small devices Tablets ≥768px
// Medium devices Desktops ≥992px
// Large devices Desktops ≥1200px

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) {
}
